<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hello</title>
    <link href="../views/css/bootstrap.min.css" rel="stylesheet">
    <link href="../views/css/agency.css" rel="stylesheet">
</head>

<body id="page-top" class="index">

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome {{name}}!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <a href="#" class="page-scroll btn btn-xl">Get Started</a>
            </div>
        </div>
    </header>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/agency.js"></script>
</body>

</html>
